.bg-animation-1 {
  background: linear-gradient(270deg, #f1f1ee, #3b3b3b);
  background-size: 400% 400%;
  animation: gradientAnimation1 8s ease infinite;
}

@keyframes gradientAnimation1 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.bg-animation-2 {
  background: linear-gradient(270deg, #ae2012, #1f1f1f, #005f73, #5b5b5b);
  background-size: 600% 600%;
  animation: gradientAnimation2 8s ease infinite;
}

@keyframes gradientAnimation2 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.bg-animation-3 {
  background: url('https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExaTUzZ3F2cGFvYWIwYWpndHo0YzVoZ3R2ZWFtdW1qcnc3N3RxdjN0dCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3sfcTEDbgquKpnzCfZ/giphy.gif') center/cover no-repeat; 
  background-size: 100% 100%;
}

.bg-animation-4 {
  background: linear-gradient(270deg, #ffc300, #003566);
  background-size: 400% 400%;
  animation: gradientAnimation3 8s ease infinite;
}

@keyframes gradientAnimation3 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.bg-animation-5 {
  background: linear-gradient(270deg, #e0b1cb, #231942);
  background-size: 400% 400%;
  animation: gradientAnimation3 8s ease infinite;
}

@keyframes gradientAnimation3 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
/*https://media.giphy.com/media/4gUlu9bWvSwfrfhiaw/giphy.gif*/
.bg-animation-6 {
  background-image: url("https://media.giphy.com/media/4gUlu9bWvSwfrfhiaw/giphy.gif");
  background-size: auto 100%;
  animation: gradientAnimation3 8s ease infinite;
}

@keyframes gradientAnimation3 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}




.bg-animation-7 {
  background: linear-gradient(270deg, #80ed99, #22577a);
  background-size: 400% 400%;
  animation: gradientAnimation3 8s ease infinite;
}

@keyframes gradientAnimation3 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.bg-animation-8 {
  background: linear-gradient(270deg, #e2c044, #587b7f);
  background-size: 400% 400%;
  animation: gradientAnimation3 8s ease infinite;
}

@keyframes gradientAnimation3 {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.bg-animation-9 {
  /*background: linear-gradient(270deg, #ef476f, #06d6a0);*/
  background-image: url("https://media.giphy.com/media/cLHmnYgG8WtNoFzCMI/giphy.gif");
  background-size: 100% auto;
}

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #06d6a0;
}

body {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  margin: 0;
}

.menu-container {
  position: relative;
}

.main-title {
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.player {
  animation-name: slide-in-left;
  animation-duration: 2s;
}

@keyframes slide-in-left {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

h1 {
  color: #333;
  animation: bounceAnimation 3s ease-in-out infinite;
}

@keyframes bounceAnimation {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }
}

h1:hover {
  cursor: pointer;
  color: #06d6a0;
}

/* Style pour la fenêtre contextuelle (popup) de SweetAlert */
.swal-overlay {
  background-color: rgba(0, 0, 255, 0.5);
  backdrop-filter: blur(5px);
}

.custom-swal-popup {
  width: 300px;
  background-color: transparent;
  box-shadow: none;
}

.custom-swal-close-button {
  color: #fff;
  font-size: 20px;
  opacity: 0.7;
}

.custom-swal-content {
  text-align: center;
}

.custom-swal-popup ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.custom-swal-popup ul li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.custom-swal-popup ul li:last-child {
  border-bottom: none;
}

#audio-player {
  visibility: hidden;
}

.player {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
  opacity: 0.9;
}

#track-info {
  margin-bottom: 20px;
}

img {
  width: 30%;
  height: auto;
  border-radius: 50%;
}

#controls {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

#controls button {
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  transition: transform 0.2s;
}

#controls button:hover {
  transform: scale(1.2);
}

#playlist {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.track {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.track:hover {
  background-color: #f9f9f9;
}

.formulaire {
  display: flex;
  justify-content: center;
  text-align: center;

}

footer {
  width: 100%;
  height: auto;
  background: #fff;
  color: grey;
  padding: 2rem 1rem;
  text-align: center;
  opacity: 0.7;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  margin: 1rem;
}

.footer-section h3 {
  margin-bottom: 1rem;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 0.5rem;
}

.footer-section ul li a {
  color: #333;
  text-decoration: none;
}

.footer-section ul li a:hover {
  color: #06d6a0;
}

.footer-bottom {
  margin-top: 1rem;
}

.formulaire {
  margin: 2rem 0;
}

.formulaire input,
.formulaire textarea {
  width: 50%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 5px;
}

.formulaire button {
  padding: 0.5rem 1rem;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.formulaire button:hover {
  background: #0056b3;
}